# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

**Objectives:**
- List popular languages for Data Science.
- Create a Jupyter Notebook.
- Insert code and markdown cells.
- Learn simple arithmetic operations.
- Share your notebook through GitHub.

Some of the commonly used libraries used by Data Scientists include:

Keras  
Matplotlib   
NumPy  
Pandas  
SymPy    
TensorFlow

| Data Science Tools |
|-|
| Virtual Studio Code |
| Jupyter Lab |
| MATLAB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

## Autor
Luis Fern√°ndez Gallego